* {
    box-sizing: none;
   
}

body {
  --background-color: linear-gradient(#131743,#d0d0d0);
  --margin: 0;
}

/* navigation */

nav {
    position: relative;
    width: 100%;
    height: 100px;
    top: 0;
    font-size: 20px;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 10px;
    padding: 10px;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    color: #ffffff;
    font-family: Kodchasan, bold;
    text-decoration: none;
}

nav {
    position: relative;
    width: 100%;
    height: 100px;
    top: 0;
    font-size: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 10px;
    padding: 10px
}

nav ul li {
    list-style: none;
}

nav ul li a{
    color: #ffffff;
    font-family: Kodchasan, bold;
    text-decoration: none;
}


/* This style will only be applied to elements within the Index.html file */
 
    #home .Logo-container {
           position:relative;
        }

    #home .Logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 40px;
        flex-wrap: wrap;
    }

    #home .Logo img {
       max-width: 100%;
    }
    
    #home .home-archive {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            padding: 40px;
            flex-wrap: wrap;
        }

    #home .project-1 {
        max-width: 100%;
    }

    #home .project-2{
        max-width: 100%;
    }

    #home .project img {
        width: 100%;
        height: 100%;
        display: block;
    }

  

     #home section.home-about {
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-size: large;
   }

   .view-all {
    color: #131743;
    font-family: Kodchasan, bold;
    text-decoration: none;
    list-style: none;
    font-size: larger;
   }


    .view-all {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
    }

    .home-about {
    color: white;
    font-family: Kodchasan, bold;
    text-decoration: none;
    list-style: none;
    font-size: larger;
   }

/* home section animation */

.Logo img {
    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.77,.28,.42,.93);
}

@keyframes float {
    0% {
        transform: translateY(-5%)
    }
    100% {
        transform: translateY(5%)
    }
}



    

    
        
    
 






/*This style will only be applied to elements within the index-archive.html file */









/*This style will only be applied to elements within the Index-about.html file */